<h1>Create New Contact</h1>
<form action="/contacts" method="post">
  <div>
    First Name: <input type="text" name="first name" />
  </div>
  <div>
    Middle Name: <input type="text" name="middle name" />
  </div>
  <div>
    Last Name: <input type="text" name="last name" />
  </div>
  <div>
    Cell: <input type="text" name="cell" />
  </div>
  <div>
    Email: <input type="text" name="email" />
  </div>
  <div>
    Company: <input type="text" name="company" />
  </div>
  <div>
    Bio: <input type="text" name="bio" />
  </div>
  <input type="submit" name="" value="Create Contact" />
</div>
</form>